IMS.sln
IMS.sln
IMS.sln
IMS/IMS/obj/Debug/IMS.csproj.FileListAbsolute.txt
IMS/IMS/obj/Debug/IMS.csproj.GenerateResource.Cache
IMS/IMS/obj/Debug/IMS.exe
IMS/IMS/obj/Debug/IMS.Form1.resources
IMS/IMS/obj/Debug/IMS.pdb
IMS/IMS/obj/Debug/TempPE/InventorydbDataSet.Designer.cs.dll
IMS/IMS/obj/Debug/TempPE/InventorydbDataSet1.Designer.cs.dll
IMS/IMS/obj/Debug/TempPE/InventorydbDataSet2.Designer.cs.dll
IMS/IMS/obj/Debug/TempPE/InventorydbDataSet3.Designer.cs.dll
IMS/IMS/obj/Debug/TempPE/InventorydbDataSet4.Designer.cs.dll
IMS/IMS/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
IMS/IMS/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
IMS/IMS/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
IMS/IMS/obj/Release/IMS.csproj.AssemblyReference.cache
